p,hr,tr,th { font-size: 10px }

.right { text-align: right;display: inline-block; }
.left{ text-align: left;display: inline-block; }

h1 { font-size: 14px; text-align: center;;display: inline-block; }
h2 { font-size: 12px; text-align: center;;display: inline-block; }

table, th, td {
  border: 1px solid black;
  padding: 2px;
}

.srlist tr:first-child td {
    vertical-align: top;
}
.srlist tr:first-child {
    color: blue;
}

.UP{
        color: black;
        background-color: lightgreen;
        font-weight: bold;
}

.BUSY{
        color: black;
        background-color:yellow 
}

.NR{
        color: black;
        background-color: red
}

