p, hr, tr, th {
    font-size: 14px;
    font-weight: bold;

}
.right {
    text-align: right;
    display: inline-block;
}
.left{
    text-align: left;
    display: inline-block;
}

h1 {
    font-size: 14px;
    text-align: center;
    display: inline-block;
}

h2 {
    font-size: 12px;
    text-align: center;
    display: inline-block;
}

table, th, td {
    border: 1px solid black;
    padding: 1px;
}

.mintTable tr:first-child td {
    vertical-align: top;
}
.mintTable tr:first-child {
    color: blue;
}
.pulses tr:first-child {
    color: blue;
}

.extraordinary tr:first-child {
    color: blue;
} 

.ME {
    color: black;
    background-color: tan;
    font-weight: bold;
}

.GENESIS {
    color: black;
    background-color: grey;
}

.UP {
    color: black;
    background-color: lightgreen;
    font-weight: bold;
}

.BUSY {
    color: black;
    border-color:yellow;
}

.BETTER {
    color: black;
    border-color:navy;
    border-width: 3;
}

.WORSE {
    color: black;
    border-color:pink;
    border-width: 3;
}

.NR {
    color: black;
    background-color: pink;
}